.form-field .time-picker .MuiInputBase-root {
  border: 1px solid #7e7b7b !important;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  color: #333;
  width: 100%;
  height: 40px;
  outline: rgb(255, 249, 249);
  transition: border-color 0.3s ease-in-out;
  outline: none;
}

.form-field .time-picker .MuiInputBase-root:focus {
  border-color: black;
}
